HeaderFilterRegex: '^.*ooze/(src/|include/ooze/).*$'
WarningsAsErrors: '*'
FormatStyle: 'file'
Checks: >
  -*,
  misc-*,
  modernize-*,
  performance-*,
  bugprone-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-use-after-move,
  -bugprone-unchecked-optional-access,
  -performance-unnecessary-value-param,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-const-return-type,
  -readability-else-after-return,
  -readability-identifier-length,
  -readability-named-parameter,
  -readability-magic-numbers,
  -readability-qualified-auto,
  -readability-uppercase-literal-suffix,
  -misc-include-cleaner,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -modernize-use-emplace,
  -modernize-use-auto,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  -misc-const-correctness
